.logo {
  width: 200px;
  height: 60px;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;

  &.collapsed {
    justify-content: center;
    width: 64px;
    padding: 0;
  }

  .logo-img {
    height: 32px;
    width: 32px;
    transition: all 0.3s;
  }

  .logo-text {
    margin-left: 12px;
    font-weight: 600;
    font-size: 18px;
    white-space: nowrap;
    transition: opacity 0.3s, margin-left 0.3s;
    color: var(--el-text-color-primary);
  }

}