:deep(.el-header) {
  padding: 0 20px 0 0;
}

.el-container {
  height: 100vh;
  
  .right-container {
    height: calc(100vh - 50px);
    background-color: var(--el-bg-color-page);
    
    :deep(.el-aside) {
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;
      transition: width 0.3s;
      background-color: var(--el-bg-color);
      border-right: 1px solid var(--el-aside-border-color);
      
      .el-menu {
        border-right: 0;
        height: 100%;
      }
    }
    
    .content-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: hidden;
    }
    
    :deep(.el-main) {
      flex: 1;
      overflow-y: auto;
      background-color: var(--el-bg-color-page);
    }
  }
}