.logo {
  display: flex;
  height: 60px;
  justify-content: center;
  transition: all 0.3s;
  align-items: center;

  .logo-img {
    height: 32px;
    width: 32px;
    transition: all 0.3s;
  }
}

.common-layout {
  display: flex;

  .column-menu {
    width: 70px;
    border-right: 1px solid var(--el-border-color);
    height: 100vh;
    background-color: var(--el-bg-color);

    .column-menu-item {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 70px;
      width: 70px;
      justify-content: center;
      font-size: var(--el-menu-item-font-size);
      transition: all 0.3s;
      position: relative;

      &:hover {
        background-color: var(--el-fill-color-light);
      }

      &.active {
        background-color: var(--el-color-primary);
        color: var(--el-color-white);
        font-weight: bold;

        :deep(.el-icon) {
          color: var(--el-color-white);
        }
      }

      > span {
        margin-top: 6px;
      }
    }
  }
}

:deep(.el-aside) {
  overflow-x: hidden;
  width: 200px;
  height: 100vh;
  background-color: var(--el-bg-color);

  .el-menu {
    height: 100%;
    border-right: 0;
  }
}


