.layout-container {
  .el-scrollbar {
    height: calc(100% - 60px);
  }
}

.el-container {
  height: 100vh;

  :deep(.el-aside) {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    transition: width 0.3s;
    background-color: var(--el-bg-color);
    border-right: 1px solid var(--el-aside-border-color);

    .logo {
      border-right: 1px solid var(--el-border-color-light);
    }

    .el-menu {
      border-right: 0
    }
  }

  .right-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--el-bg-color-page);
  }

  :deep(.el-main) {
    flex: 1;
    overflow-y: auto;
    background-color: var(--el-bg-color-page);
  }
}